<nav>
    <div>
        <a href="/">Scraper</a>
    </div>
    <ul>
        <li><a href="/saved">Saved Articles</a></li>
        <li><a class="scrape-new">Scrape New Articles</a></li>
    </ul>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Scraper</h1>
    <p class="lead">Google News</p>
  </div>
</div>