<nav>
    <div>
        <a href="/">Scraper</a>
    </div>
    <ul>
        <li><a href="/saved">Saved Articles</a></li>
    </ul>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Saved Articles</h1>
    <p class="lead">Your Saved Articles</p>
  </div>
  <div class="article-container"></div>
</div>